.calendar-wrapper .fc-view-harness {
  overflow: auto;
}

.calendar-wrapper .fc-view-harness-active > .fc-view {
  min-width: 450px;
}

.calendar-wrapper .fc-daygrid-body-balanced .fc-scrollgrid-sync-table {
  min-height: 450px;
}

.calendar-wrapper table th.fc-day {
  padding: 12px 16px;
  background-color: rgb(224 230 237 / 0.3);
}

.dark .calendar-wrapper table th.fc-day {
  background-color: #1a2941;
}

.calendar-wrapper table td .fc-daygrid-day-number {
  padding: 16px;
}

@media only screen and (max-width: 1024px) {
  .calendar-wrapper table td .fc-daygrid-day-number {
    padding: 2px 8px;
  }
}

.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
  border-color: rgb(224 230 237 / 0.4) !important;
}

.dark .fc-theme-standard td,
.dark .fc-theme-standard th,
.dark .fc-theme-standard .fc-scrollgrid {
  border-color: #191e3a !important;
}

.calendar-wrapper .fc-theme-standard .fc-scrollgrid {
  border-radius: 10px;
}

.calendar-wrapper .fc-theme-standard td {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* .calendar-wrapper .fc-theme-standard th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  } */

.calendar-wrapper .fc-button {
  text-transform: capitalize !important;
  font-weight: 500 !important;
  border-radius: 6px !important;
  padding: 8px 15px !important;
}

.ltr .calendar-wrapper .fc-button {
  margin-left: 12px !important;
}

.rtl .calendar-wrapper .fc-button {
  margin-right: 12px !important;
}

.ltr .calendar-wrapper .fc-button-group .fc-button:first-child {
  margin-left: 0px !important;
}

.rtl .calendar-wrapper .fc-button-group .fc-button:first-child {
  margin-right: 0px !important;
}

.calendar-wrapper .fc-button-primary,
.calendar-wrapper .fc-button-primary:disabled {
  color: #4361ee !important;
  border-color: #4361ee !important;
  background: transparent !important;
  box-shadow: none !important;
  font-weight: 600 !important;
  line-height: 20px !important;
}

.calendar-wrapper .fc-button-primary:not(:disabled):hover,
.calendar-wrapper .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #4361ee !important;
  color: white !important;
}

.calendar-wrapper .fc-daygrid-event.info,
.calendar-wrapper .fc-timegrid-event.info {
  background-color: rgb(33 150 243 / 0.8);
  border-color: rgb(33 150 243 / 0.8);
}

.calendar-wrapper .fc-daygrid-event.info:hover,
.calendar-wrapper .fc-timegrid-event.info:hover {
  background-color: #2196f3;
  border-color: #2196f3;
}

.calendar-wrapper .fc-daygrid-event.primary,
.calendar-wrapper .fc-timegrid-event.primary {
  background-color: rgb(67 97 238 / 0.8);
  border-color: rgb(67 97 238 / 0.8);
}

.calendar-wrapper .fc-daygrid-event.primary:hover,
.calendar-wrapper .fc-timegrid-event.primary:hover {
  background-color: #4361ee;
  border-color: #4361ee;
}

.calendar-wrapper .fc-daygrid-event.success,
.calendar-wrapper .fc-timegrid-event.success {
  background-color: rgb(0 171 85 / 0.8);
  border-color: rgb(0 171 85 / 0.8);
}

.calendar-wrapper .fc-daygrid-event.success:hover,
.calendar-wrapper .fc-timegrid-event.success:hover {
  background-color: #00ab55;
  border-color: #00ab55;
}

.calendar-wrapper .fc-daygrid-event.danger,
.calendar-wrapper .fc-timegrid-event.danger {
  background-color: rgb(231 81 90 / 0.8);
  border-color: rgb(231 81 90 / 0.8);
}

.calendar-wrapper .fc-daygrid-event.danger:hover,
.calendar-wrapper .fc-timegrid-event.danger:hover {
  background-color: #e7515a;
  border-color: #e7515a;
}

.calendar-wrapper .fc-prev-button,
.calendar-wrapper .fc-next-button {
  background-color: transparent !important;
  color: rgb(75, 85, 99) !important;
  border: 2px solid !important;
  border-color: rgb(229, 231, 235) !important;
  padding: 6px !important;
  display: flex !important;
  justify-content: center;
}

.dark .calendar-wrapper .fc-prev-button,
.dark .calendar-wrapper .fc-next-button {
  border-color: rgb(55, 65, 81) !important;
}

.calendar-wrapper .fc-button.fc-prev-button:hover,
.calendar-wrapper .fc-button.fc-next-button:hover,
.dark .calendar-wrapper .fc-button.fc-prev-button:hover,
.dark .calendar-wrapper .fc-button.fc-next-button:hover {
  color: #4361ee !important;
  border-color: #4361ee !important;
  background: transparent !important;
}

.calendar-wrapper .fc-timegrid-body .fc-event-main-frame {
  flex-direction: column !important;
}

.ltr .calendar-wrapper .fc-toolbar,
.ltr .calendar-wrapper .fc-toolbar,
.ltr .calendar-wrapper .fc-event-main-frame,
.ltr .calendar-wrapper .fc-button-group {
  flex-direction: row;
}

.rtl .calendar-wrapper .fc-toolbar,
.rtl .calendar-wrapper .fc-toolbar,
.rtl .calendar-wrapper .fc-event-main-frame,
.rtl .calendar-wrapper .fc-button-group {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  .calendar-wrapper .fc-toolbar {
    flex-direction: column !important;
  }

  .calendar-wrapper .fc-toolbar .fc-toolbar-chunk {
    margin-top: 16px;
  }

  .calendar-wrapper .fc-toolbar .fc-toolbar-chunk:first-child {
    margin-top: 0px !important;
  }
}

/* .calendar-wrapper .fc-toolbar-title {
    font-size: 20px;
  } */

.calendar-wrapper .fc .fc-popover {
  z-index: 10;
}

.calendar-wrapper .fc-event {
  padding: 2px 4px;
  color: white;
}

.calendar-wrapper .fc-timegrid-event-harness-inset .fc-timegrid-event {
  box-shadow: none;
  overflow: hidden;
}

.calendar-wrapper .fc-event-title.fc-sticky {
  font-weight: 700;
}

.calendar-wrapper .fc-daygrid-event-dot {
  display: none;
}

.calendar-wrapper .fc-daygrid-dot-event {
  border-width: 1px;
}

.calendar-wrapper .fc-event-time {
  padding: 1px !important;
  font-weight: 700;
  flex-shrink: 0;
}
.rtl .calendar-wrapper .fc-event-time {
  margin-left: 3px !important;
  margin-right: 0px !important;
}

.rtl .calendar-wrapper .fc-icon.fc-icon-chevron-right,
.rtl .calendar-wrapper .fc-icon.fc-icon-chevron-left {
  rotate: 180deg;
}

.dark .calendar-wrapper .fc-theme-standard .fc-popover {
  background-color: #3b3f5c;
  border-color: #3b3f5c;
}

.dark .calendar-wrapper .fc-theme-standard .fc-popover-header {
  background-color: #0e1726;
  color: #888ea8;
}

.calendar-wrapper .fc-direction-ltr .fc-daygrid-more-link {
  @apply rtl:!float-right;
}

.dark .flatpickr-calendar {
  border: 1px solid #0e1a2c;
  background: #0e1a2c;
  box-shadow: none;
}

.dark .flatpickr-calendar.arrowTop:after {
  border-bottom-color: #0e1a2c;
}

.dark .flatpickr-calendar.arrowBottom:after {
  border-top-color: #0e1a2c;
}

.dark .flatpickr-calendar .flatpickr-months .flatpickr-prev-month svg,
.dark .flatpickr-calendar .flatpickr-months .flatpickr-next-month svg {
  fill: #bfc9d4;
}

/* .flatpickr-current-month {
    font-size: 16px;
    padding: 3px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 10px;
} */

.dark .flatpickr-calendar .flatpickr-months .flatpickr-monthDropdown-months {
  color: #bfc9d4;
}

.dark
  .flatpickr-calendar
  .flatpickr-months
  .flatpickr-monthDropdown-months
  .flatpickr-monthDropdown-month {
  background-color: #1b2e4b;
}

.dark .flatpickr-calendar .flatpickr-months input.cur-year {
  color: #bfc9d4;
  height: 31px;
}

.dark .flatpickr-calendar .flatpickr-months .numInputWrapper span {
  height: 26%;
}

.dark .flatpickr-calendar .flatpickr-months .numInputWrapper span.arrowUp {
  top: 10px;
}

.dark
  .flatpickr-calendar
  .flatpickr-months
  .numInputWrapper
  span.arrowUp:after {
  border-bottom-color: #bfc9d4;
}

.dark .flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: #bfc9d4;
}

.dark .flatpickr-calendar .flatpickr-months .numInputWrapper span .arrowDown {
  top: 34%;
}

.dark
  .flatpickr-calendar
  .flatpickr-months
  .numInputWrapper
  span
  .arrowDown:after {
  border-top-color: #bfc9d4;
}

.dark .flatpickr-calendar .flatpickr-day {
  color: #888ea8;
  font-weight: 500;
}

.dark .flatpickr-calendar .flatpickr-day:hover {
  background: #191e3a;
  border-color: #191e3a;
}

.dark .flatpickr-calendar .flatpickr-day.flatpickr-disabled {
  color: rgba(136, 142, 168, 0.22);
}

.dark .flatpickr-calendar .flatpickr-day.prevMonthDay,
.dark .flatpickr-calendar .flatpickr-day.nextMonthDay {
  color: rgba(136, 142, 168, 0.22) !important;
}

.dark .flatpickr-calendar .flatpickr-day.selected {
  background: #009688;
  color: #0e1726;
  border-color: #009688;
  font-weight: 700;
}

.dark .flatpickr-calendar .flatpickr-day.today {
  border-color: #009688;
}

.dark .flatpickr-calendar .flatpickr-day.today:hover {
  border-color: #0e1726;
  background: #0e1726;
  color: #fff;
}

.dark .flatpickr-calendar.hasTime .flatpickr-time {
  border-top: 1px solid #243146 !important;
}

.dark .flatpickr-calendar .flatpickr-time {
  border: 1px solid #243146;
}

.dark .flatpickr-calendar .flatpickr-time input,
.dark .flatpickr-calendar .flatpickr-time .flatpickr-time-separator,
.dark .flatpickr-calendar .flatpickr-time .flatpickr-am-pm {
  color: #888ea8;
}

.dark .flatpickr-time input:hover,
.dark .flatpickr-time .flatpickr-am-pm:hover,
.dark .flatpickr-time input:focus,
.dark .flatpickr-time .flatpickr-am-pm:focus {
  background: transparent;
  --tw-ring-color: transparent;
}

.dark .flatpickr-calendar .flatpickr-time input:hover,
.dark .flatpickr-calendar .flatpickr-time .flatpickr-am-pm:hover {
  background-color: #0e1726;
}

.dark .flatpickr-calendar .flatpickr-time .numInputWrapper span.arrowUp::after {
  border-bottom-color: #009688;
}

.dark
  .flatpickr-calendar
  .flatpickr-time
  .numInputWrapper
  span.arrowDown::after {
  border-top-color: #009688;
}

.dark .flatpickr-calendar.arrowTop:before {
  border-bottom-color: #1b2e4b;
}

.dark .flatpickr-calendar.arrowBottom::before {
  border-top-color: #1b2e4b;
}

.dark .numInputWrapper span {
  height: 26%;
}

.dark .numInputWrapper span.arrowUp {
  top: 10px;
}

.dark .numInputWrapper span.arrowUp:after {
  border-bottom-color: #bfc9d4;
}

.dark .numInputWrapper span .arrowDown {
  top: 34%;
}

.dark .numInputWrapper span .arrowDown:after {
  border-top-color: #bfc9d4;
}

.flatpickr-calendar:before {
  border-width: 11px;
}

.flatpickr-calendar:after {
  border-width: 9px;
}

.dark span.flatpickr-weekday {
  color: #888ea8;
}

.dark .flatpickr-calendar .flatpickr-day.today.inRange {
  border-color: #e6e6e6;
}

.dark .flatpickr-day.inRange {
  background-color: #060818;
  border-color: #060818;
  box-shadow: -5px 0 0 #060818, 5px 0 0 #060818;
}
.calendar {
  .rowgroup {
    background-color: #f6f7f9 !important;
  }
  .fc-col-header-cell-cushion {
    color: #848585 !important;
    font-weight: 400 !important;
  }
  .fc-day.fc-day-past.fc-daygrid-day {
    cursor: pointer;
    &:hover {
      background-color: rgba(96, 197, 255, 0.24) !important;
    }
    .fc-daygrid-day-number {
      color: #000 !important;
    }
  }
  .fc-scroller-harness {
    .fc-timegrid-axis-cushion {
      text-transform: capitalize !important;
      text-wrap: nowrap !important;
      font-size: 13px;
      text-align: center !important;
    }
  }
  .fc-timegrid-slot.fc-timegrid-slot-label {
    // background-color: red !important;
    border: none !important;
    border-right: 1px solid #eeeeef !important;
  }

  .fc-daygrid-day-events {
  }
  .fc-daygrid-event-harness {
    .fc-event {
      // padding: 10px;
      .fc-event-main {
        .fc-event-title {
          font-weight: bold;
          font-size: 16px !important;
        }
      }
    }
  }
  .fc-day-today{
    background-color: rgba(255, 245, 156, 0.507) !important;

  }
}
